@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, rgba(217,242,236,1) 37%, rgba(191,218,191,1) 71%);
}

.top-bar{
    width:100%;
}
.top-bar__container{
    justify-content: center !important;
}
.top-bar__donateBtn{
    background: #db5e34;
    padding: 10px;
    color: #fff;
}
.top-bar__volunteer{
    background: #f1b935;
    padding: 10px;
    color: #fff;
    margin: 0px -5px;
}
.top-bar__contact{
    background: #26b5ae;
    padding: 10px;
    color: #fff;
}
.top-bar .col-md-7{
    display: flex;
    justify-content: flex-end;
}
.top-bar .col-md-5{
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.header-logo-img{
    width: 150px;
}
.nav-menu .nav{
    align-content: center;
}
.col-md-7.text-end{
    padding: 0px;
}
.navbar{
    padding: 0px;
}
.top-bar__phonenumber span{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 50px;
}
.nav-link.active {
    /* background: linear-gradient(180deg, #154703 0%, rgb(54 102 40) 80%) !important;
    color: #fff !important; */
    background: #fdd2d2 !important;
    color: #000 !important;
    font-weight: 600;
}
.nav-link{
    /* color: #154703 !important; */
    color: #000 !important;
    font-weight: 600;
}
